* {
  margin: 0;
  padding: 0;
}

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}
/* shared styles */
.btn-primary button {
  background-color: #52c303;
  color: white;
  border: none;
  padding: 16px 24px;
  border-radius: 5px;
}

/* header section */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  height: 707px;
  background-position: center;
}
.header-description {
  margin: 202px 427px 202px 263px;
}
.subtitle {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 12px;
  letter-spacing: 0%;
  color: white;
  opacity: 80%;
}
.title {
  font-weight: 700;
  font-size: 49px;
  color: white;
  letter-spacing: 0%;
  padding-bottom: 18px;
}
.description {
  font-weight: 500;
  font-size: 18px;
  color: white;
  letter-spacing: 0%;
  opacity: 70%;
  padding-bottom: 24px;
}
/* offer section */
.offer p,
.offer h2 {
  color: black;
  text-align: center;
}
.items {
  display: flex;
  justify-content: center;
}
.offer {
  margin: 128px 231px 137px 231px;
}
.items img {
  width: 326px;
  height: 217px;
}
.offer h2 {
  margin: 12px 241px 36px 241px;
  font-size: 36px;
}
.offer p {
  font-size: 18px;
  color: rgb(16, 16, 16);
  opacity: 60%;
}
.offer .btn-primary {
  text-align: center;
  padding-top: 49px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item span {
  text-transform: capitalize;
  background-color: rgba(82, 195, 3, 0.15);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 24px 10px 24px;
  margin-bottom: 18px;
}
.item h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 18px;
}
.item p {
  font-weight: 500;
  font-size: 13px;
  padding-right: 18px;
  color: rgb(16, 16, 16);
  opacity: 70%;
}
/* review section */
.review img {
  width: 739px;
  height: 516px;
}
.review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-review h2 {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 18px;
}
.follow-review p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(16, 16, 16);
  opacity: 60%;
}
.follow-review h4 {
  font-size: 24px;
  opacity: 70%;
  color: rgb(16, 16, 16);
  font-weight: 600;
  padding-top: 36px;
  padding-bottom: 24px;
}
.follow-review {
  margin: 0 59px 0 59px;
  text-align: center;
}
.review i {
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding-right: 24px;
}
.facebook {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    180deg,
    rgba(0, 178, 255, 1) 0%,
    rgba(0, 106, 255, 1) 100%
  );
}
.instagram {
  background-clip: text;
  color: transparent;

  background-image: radial-gradient(
    circle,
    rgba(250, 143, 33, 1) 0%,
    rgba(216, 45, 126, 1) 77%
  );
}
.pinterest {
  color: #e13138;
}
